<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AURC{% endblock title %}</title>
      <link rel="icon" href="{% static 'img/white_aurc.ico' %}" type="image/x-icon">
      <link rel="shortcut icon" href="{% static 'img/white_aurc.ico' %}" type="image/x-icon">
     <!-- Font -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/Style.css' %}">

     {% block head %}
     
     {% endblock head %}
    </head>

<body>
    {% block topbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom rounded-5">
        <div class="container">
      
          <!-- Brand -->
          <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.png' %}" width="auto" height="70"class="navbar-brand-img" alt="...">
          </a>
      
          <!-- Toggler -->
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <!-- Collapse -->
          <div class="navbar-collapse collapse" id="navbarCollapse" >
      
            <!-- Toggler -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fe fe-x"></i>
            </button>
      
            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  Accueil
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  Dépots
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  Ressources utiles
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" >
                    À Propos
                </a>
              </li>
            </ul>
      
            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary  ms-auto" href="#">
              Arabe &nbsp;<img class=" rounded"src="{% static 'img/ar.jpg' %}" width="20" height="20"/>
            </a>
      
          </div>
      
        </div>
    </nav>
    {% endblock topbar %} 
    <div class="container" style=" position: relative;">
        <video autoplay loop muted style="width: 100%; height: auto; z-index: -1; position: absolute; top: 0; left: 0;">
            {% block video %}
              
            {% endblock video %}
        </video>
        <div class="content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
            {% block content %}
              
            {% endblock content %}
            <footer class="footer text-center mt-0">
              <div class="container">
                  <small class="text-muted"> &copy; AURC 2024  - Tous droits reservés.</small>
              </div>
            </footer>
        </div>
        
    </div>

<script src=" {% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block scripts %}{% endblock scripts %}
</body>
</html>