{% extends 'base.html' %}
{% load static %}
{% block head %}
 <style>
    .btn_search {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
        outline: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .btn_search:hover {
        background-color: #0056b3;
    }

    .hot-pink {
    color: hotpink; /* Set the color for hot pink */
  }
 </style>
{% endblock head %}
{% block title %}APOAR{% endblock title %}

{% block video %}
<source src="{% static 'img/background_video.mp4' %}" type="video/mp4">
Your browser does not support the video tag.
{% endblock video %}

{% block content %}

<div class="main-container">
    <h1 class="display-6 text-center" style="position: absolute;top: 5%;">
        <span class="text-uppercase text-primary">A</span>lgerian
        <span class="text-uppercase text-primary">P</span>latform for
        <span class="text-uppercase text-primary">O</span>pen
        <span class="text-uppercase text-primary">A</span>ccess
        <span class="text-uppercase text-primary">R</span>epositories
    </h1>
    <div class="d-flex justify-content-center mb-1" style="position: absolute;top: 15%;">
        <img class="rounded-5" src="{% static 'img/white_logo.png' %}" width="199" height="150">
    </div>
 <div class="search-bar">
    <form method="post">
        <input type="text" class="search-input" name="query" placeholder="Rechercher un document ...">
        <input type="text"  name="current" value="1" hidden>   
        <button class="btn_search" type="submit">Rechercher</button>
    </form> 
</div>
<div class="mt-2">
    <a class=" fw-bold" href="{% url 'advanced_search_view' %}">Recherche avancée</a>
</div>
</div>

{% endblock content %}