./Project_Ne/*
./Project_Nesrine
Project_Nesrine.rar
Project_Ne/article.html
Project_Ne/search_results.html
dspace-link-list.txt
ff.txt
resp.txt
infos.txt

PFE_Site/env/Lib/site-packages/cssselect/__init__.py
PFE_Site/env/Lib/site-packages/cssselect/parser.py
PFE_Site/env/Lib/site-packages/cssselect/py.typed
PFE_Site/env/Lib/site-packages/cssselect/xpath.py
PFE_Site/env/Lib/site-packages/cssselect/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/cssselect/__pycache__/parser.cpython-39.pyc
PFE_Site/env/Lib/site-packages/cssselect/__pycache__/xpath.cpython-39.pyc
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/AUTHORS
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/INSTALLER
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/LICENSE
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/METADATA
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/RECORD
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/top_level.txt
PFE_Site/env/Lib/site-packages/cssselect-1.2.0.dist-info/WHEEL
PFE_Site/env/Lib/site-packages/lxml/__init__.py
PFE_Site/env/Lib/site-packages/lxml/_elementpath.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/_elementpath.py
PFE_Site/env/Lib/site-packages/lxml/apihelpers.pxi
PFE_Site/env/Lib/site-packages/lxml/builder.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/builder.py
PFE_Site/env/Lib/site-packages/lxml/classlookup.pxi
PFE_Site/env/Lib/site-packages/lxml/cleanup.pxi
PFE_Site/env/Lib/site-packages/lxml/cssselect.py
PFE_Site/env/Lib/site-packages/lxml/debug.pxi
PFE_Site/env/Lib/site-packages/lxml/docloader.pxi
PFE_Site/env/Lib/site-packages/lxml/doctestcompare.py
PFE_Site/env/Lib/site-packages/lxml/dtd.pxi
PFE_Site/env/Lib/site-packages/lxml/ElementInclude.py
PFE_Site/env/Lib/site-packages/lxml/etree_api.h
PFE_Site/env/Lib/site-packages/lxml/etree.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/etree.h
PFE_Site/env/Lib/site-packages/lxml/etree.pyx
PFE_Site/env/Lib/site-packages/lxml/extensions.pxi
PFE_Site/env/Lib/site-packages/lxml/iterparse.pxi
PFE_Site/env/Lib/site-packages/lxml/lxml.etree_api.h
PFE_Site/env/Lib/site-packages/lxml/lxml.etree.h
PFE_Site/env/Lib/site-packages/lxml/nsclasses.pxi
PFE_Site/env/Lib/site-packages/lxml/objectify.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/objectify.pyx
PFE_Site/env/Lib/site-packages/lxml/objectpath.pxi
PFE_Site/env/Lib/site-packages/lxml/parser.pxi
PFE_Site/env/Lib/site-packages/lxml/parsertarget.pxi
PFE_Site/env/Lib/site-packages/lxml/proxy.pxi
PFE_Site/env/Lib/site-packages/lxml/public-api.pxi
PFE_Site/env/Lib/site-packages/lxml/pyclasslookup.py
PFE_Site/env/Lib/site-packages/lxml/readonlytree.pxi
PFE_Site/env/Lib/site-packages/lxml/relaxng.pxi
PFE_Site/env/Lib/site-packages/lxml/sax.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/sax.py
PFE_Site/env/Lib/site-packages/lxml/saxparser.pxi
PFE_Site/env/Lib/site-packages/lxml/schematron.pxi
PFE_Site/env/Lib/site-packages/lxml/serializer.pxi
PFE_Site/env/Lib/site-packages/lxml/usedoctest.py
PFE_Site/env/Lib/site-packages/lxml/xinclude.pxi
PFE_Site/env/Lib/site-packages/lxml/xmlerror.pxi
PFE_Site/env/Lib/site-packages/lxml/xmlid.pxi
PFE_Site/env/Lib/site-packages/lxml/xmlschema.pxi
PFE_Site/env/Lib/site-packages/lxml/xpath.pxi
PFE_Site/env/Lib/site-packages/lxml/xslt.pxi
PFE_Site/env/Lib/site-packages/lxml/xsltext.pxi
PFE_Site/env/Lib/site-packages/lxml/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/_elementpath.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/builder.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/cssselect.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/doctestcompare.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/ElementInclude.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/pyclasslookup.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/sax.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/__pycache__/usedoctest.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__init__.py
PFE_Site/env/Lib/site-packages/lxml/html/_diffcommand.py
PFE_Site/env/Lib/site-packages/lxml/html/_html5builder.py
PFE_Site/env/Lib/site-packages/lxml/html/_setmixin.py
PFE_Site/env/Lib/site-packages/lxml/html/builder.py
PFE_Site/env/Lib/site-packages/lxml/html/clean.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/html/clean.py
PFE_Site/env/Lib/site-packages/lxml/html/defs.py
PFE_Site/env/Lib/site-packages/lxml/html/diff.cp39-win_amd64.pyd
PFE_Site/env/Lib/site-packages/lxml/html/diff.py
PFE_Site/env/Lib/site-packages/lxml/html/ElementSoup.py
PFE_Site/env/Lib/site-packages/lxml/html/formfill.py
PFE_Site/env/Lib/site-packages/lxml/html/html5parser.py
PFE_Site/env/Lib/site-packages/lxml/html/soupparser.py
PFE_Site/env/Lib/site-packages/lxml/html/usedoctest.py
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/_diffcommand.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/_html5builder.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/_setmixin.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/builder.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/clean.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/defs.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/diff.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/ElementSoup.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/formfill.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/html5parser.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/soupparser.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/html/__pycache__/usedoctest.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/includes/__init__.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/__init__.py
PFE_Site/env/Lib/site-packages/lxml/includes/c14n.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/config.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/dtdvalid.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/etree_defs.h
PFE_Site/env/Lib/site-packages/lxml/includes/etreepublic.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/htmlparser.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/lxml-version.h
PFE_Site/env/Lib/site-packages/lxml/includes/relaxng.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/schematron.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/tree.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/uri.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xinclude.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xmlerror.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xmlparser.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xmlschema.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xpath.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/xslt.pxd
PFE_Site/env/Lib/site-packages/lxml/includes/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/includes/extlibs/__init__.py
PFE_Site/env/Lib/site-packages/lxml/includes/extlibs/zconf.h
PFE_Site/env/Lib/site-packages/lxml/includes/extlibs/zlib.h
PFE_Site/env/Lib/site-packages/lxml/includes/extlibs/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/__init__.py
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/exslt.h
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/exsltconfig.h
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/exsltexports.h
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/libexslt.h
PFE_Site/env/Lib/site-packages/lxml/includes/libexslt/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/__init__.py
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/c14n.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/catalog.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/chvalid.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/debugXML.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/dict.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/encoding.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/entities.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/globals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/hash.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/HTMLparser.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/HTMLtree.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/list.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/nanoftp.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/nanohttp.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/parser.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/parserInternals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/pattern.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/relaxng.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/SAX.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/SAX2.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/schemasInternals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/schematron.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/threads.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/tree.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/uri.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/valid.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xinclude.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xlink.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlautomata.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlerror.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlexports.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlIO.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlmemory.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlmodule.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlreader.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlregexp.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlsave.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlschemas.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlschemastypes.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlstring.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlunicode.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlversion.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xmlwriter.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xpath.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xpathInternals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/xpointer.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxml/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/__init__.py
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/attributes.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/documents.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/extensions.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/extra.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/functions.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/imports.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/keys.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/libxslt.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/namespaces.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/numbersInternals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/preproc.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/security.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/templates.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/transform.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/trio.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/triodef.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/variables.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/win32config.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xslt.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xsltconfig.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xsltexports.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xsltInternals.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xsltlocale.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/xsltutils.h
PFE_Site/env/Lib/site-packages/lxml/includes/libxslt/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/isoschematron/__init__.py
PFE_Site/env/Lib/site-packages/lxml/isoschematron/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/rng/iso-schematron.rng
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/RNG2Schtrn.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/XSD2Schtrn.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_abstract_expand.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_dsdl_include.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_message.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl
PFE_Site/env/Lib/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/readme.txt
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/INSTALLER
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/LICENSE.txt
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/LICENSES.txt
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/METADATA
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/RECORD
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/top_level.txt
PFE_Site/env/Lib/site-packages/lxml-4.9.3.dist-info/WHEEL
PFE_Site/env/Lib/site-packages/pyquery/__init__.py
PFE_Site/env/Lib/site-packages/pyquery/cssselectpatch.py
PFE_Site/env/Lib/site-packages/pyquery/openers.py
PFE_Site/env/Lib/site-packages/pyquery/pyquery.py
PFE_Site/env/Lib/site-packages/pyquery/text.py
PFE_Site/env/Lib/site-packages/pyquery/__pycache__/__init__.cpython-39.pyc
PFE_Site/env/Lib/site-packages/pyquery/__pycache__/cssselectpatch.cpython-39.pyc
PFE_Site/env/Lib/site-packages/pyquery/__pycache__/openers.cpython-39.pyc
PFE_Site/env/Lib/site-packages/pyquery/__pycache__/pyquery.cpython-39.pyc
PFE_Site/env/Lib/site-packages/pyquery/__pycache__/text.cpython-39.pyc
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/entry_points.txt
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/INSTALLER
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/LICENSE.txt
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/METADATA
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/RECORD
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/REQUESTED
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/top_level.txt
PFE_Site/env/Lib/site-packages/pyquery-2.0.0.dist-info/WHEEL
PFE_Site/SearchSite/searchapp/__pycache__/urls.cpython-39.pyc
PFE_Site/SearchSite/searchapp/__pycache__/views.cpython-39.pyc
PFE_Site/SearchSite/searchapp/__pycache__/urls.cpython-39.pyc
PFE_Site/SearchSite/searchapp/__pycache__/views.cpython-39.pyc
PFE_Site/SearchSite/searchapp/__pycache__/urls.cpython-39.pyc
PFE_Site/SearchSite/searchapp/__pycache__/views.cpython-39.pyc
