
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    } 
    
    .video-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.09); /* Add a semi-transparent background to make text more readable */
        color: #fff; /* Text color */
    }
    
