body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.search-bar {
    display: flex;
    gap: 20px;
}

.search-input {
    width: 800px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 1, 0.1);
    margin-right: 10px;
}

em {
    color:#ea7317;
}






